.coreItems{
    display: flex;
    flex-direction: row;

    .coreRollItems{
        display: flex;
        flex-direction: column;
        min-width: 66%;
    }
    .coreInfoItems{
        max-width: 33%;
        display: flex;
        flex-direction: column;

    }
}