.background{

    display: flex;
    flex-direction: row;
    .appAndbio{
        display: flex;
        flex-direction: column;
        min-width: 60%;

    }

    .traits{
        display: flex;
        flex-direction: column;
        min-width: 40%;
    }

}