@import "./config.less";


.item-list{
    list-style: none;
    padding-left: 0;
}

.info{

    display: flex;
    
    .appAndbio{
        display: flex;
        flex-direction: column;
        min-width: 65%;
        padding: 0px 10px 0px 10px;

        .mods-etc{
            .full{
                width: 100%;
            }
            .half{
                width: 50%;
            }
        }

    }

    .traits{
        display: flex;
        flex-direction: column;
        min-width: 35%;
    }

}