/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */



@font-face{
    font-family: Cinzel;
    src:url(fonts/Cinzel-VariableFont_wght.ttf);
}


/* ----------------------------------------- */
/*  Colors                                   */
/* ----------------------------------------- */

@black: black;
@highlight-color: #c53131;
@50-cent-highlight: #c5313188;
@20-cent-highlight: #c5313144;
@accent-color: antiquewhite;
@offwhite: #fffef8;
@light-color: dimgrey;
@light-shade: #88888855;
@mid-shadow-color: #545454;
@dark-shadow-color: #2b2b2b;
@transparent-color: #ffffff00;
@offwhite: #c9c7b8;
@dark-contrast: #191813;
@green-highlight: #5b9647;


/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    > * {
      flex: 1;
    }
  
    .flex1 { flex: 1; }
    .flex2 { flex: 2; }
    .flex3 { flex: 3; }
    .flex4 { flex: 4; }
  }
  
  .flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
    > * {
      flex: 1;
    }
  
    .flex1 { flex: 1; }
    .flex2 { flex: 2; }
    .flex3 { flex: 3; }
    .flex4 { flex: 4; }
  }


  //override default settings of the foundry css
.chat-message{
  background-color: @accent-color;
  background-image: none;
}
  
.sidebar-tab{

  button{
    background: @accent-color;
  }
  
  .directory-header{
  .header-search{
    color: @accent-color;
    input{
      background-color: @accent-color;
      background-image: none;
    }
  }
}
  background-color: @light-color;
  background-image: none;
  #chat-controls{
    color: @accent-color;
      .roll-type-select{
        background: @accent-color;
      }
  }
  #chat-message{
    background-color: @accent-color;
    background-image: none;
  }
    
}

.window-app .window-content{
  background-color: @accent-color;
  background-image: url(./img/HEX.png);
  
  
}