/* ----------------------------------------- */
/*  Fonts                                    */
/* ----------------------------------------- */



@font-face{
    font-family: Cinzel;
    src:url(fonts/Cinzel-VariableFont_wght.ttf);
}


/* ----------------------------------------- */
/*  Colors                                   */
/* ----------------------------------------- */

@black: black;
@highlight-color: #c53131;
@50-cent-highlight: #c5313188;
@20-cent-highlight: #c5313144;
@10-cent-highlight: #c5313120;
@accent-color: rgb(255, 248, 238);
@light-color: dimgrey;
@light-shade: #a1a1a155;
@mid-shadow-color: #545454;
@dark-shadow-color: #2b2b2b;
@transparent-color: #ffffff00;
@offwhite: #fffce7;
@dark-contrast: #191813;
@green-highlight: #5b9647;


/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */

.flexrow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
  
    > * {
      flex: 1;
    }
  
    .flex1 { flex: 1; }
    .flex2 { flex: 2; }
    .flex3 { flex: 3; }
    .flex4 { flex: 4; }
  }
  
  .flexcol {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
  
    > * {
      flex: 1;
    }
  
    .flex1 { flex: 1; }
    .flex2 { flex: 2; }
    .flex3 { flex: 3; }
    .flex4 { flex: 4; }
  }


  //override default settings of the foundry css

  input[type=text], select{
    background-color: @offwhite;
    
    border: 1px groove @50-cent-highlight;
    font-weight: 700;
    border-radius: 5px;
         
    
}

#combat{
    color: @offwhite;
  }


#combat-tracker{


  background-color: @light-shade;
  color: @offwhite;
  
  .token-name{
    .combatant-controls{
      .combatant-control{
        color: @offwhite;
      }
    }
  }
  
  h4{
    color:@offwhite;
  }
}

.directory-item .folder-header{
  h3{
    color: @dark-shadow-color;
  }
}

.directory-list{
  #combat-tracker{
    background-color: @light-shade;
    color: @offwhite;
    
  
    .token-name{
      .combatant-controls{
        .combatant-control{
          color: @offwhite;
        }
      }
    }
    
    h4{
      color:@offwhite;
    }
  }
  .compendium-entity{
    color: @offwhite;
  }
  .compendium-footer{
    color: @dark-shadow-color;
  }
  background-color: @light-color;

    h4{
      color: @accent-color;
    }
}


input:hover{
  background-color: @10-cent-highlight;
}


.chat-message{
  background-color: @accent-color;
  background-image: none;
}
  
.sidebar-tab{

  button{
    background: @accent-color;
  }
  
  .directory-header{
  .header-search{
    color: @accent-color;
    input{
      background-color: @accent-color;
      background-image: none;
    }
  }
}
  background-color: @light-color;
  background-image: none;
  #chat-controls{
    color: @accent-color;
      .roll-type-select{
        background: @accent-color;
      }
  }
  #chat-message{
    background-color: @accent-color;
    background-image: none;

  }
    
}

.window-app .window-content{
  background-color: @accent-color;
  background-image: url(./img/HEX.png);
  
  
}