
.sjgurps4e.sheet.item{
    .sheet-header{
        .charname{
            input{
                background-color: rgba(255, 255, 255, 0);
                border: none;
                font-family: Cinzel, serif;
                font-size: 28px;
                width: 300px;
            }
        }

        align-items: flex-start;
        img{
            flex: 0 0 100px;
            height: 100px;
            margin-right: 6px;
        }

        flex: 0;
        .item-subtitle{
            .item-type{
                font-size: 24px;
                line-height: 26px;
                margin: 0;
                padding: 0;
                font-weight: normal;
                text-align: right;
                color: #888;
                
            }
        }
        .summary{
            flex: 0 1 100%;
            height: 40px;
            margin: 0%;
            padding: 0;
            list-style: none;
            border-top: 2px groove #eeede0;
            border-bottom: none;
            font-size: 20px;
            color: #666;
            justify-content: flex-end;
            li{
                padding:1px 3px;  
            }
        }
    }
    .weapon-data-table{
        flex: 1;
        margin: 5px;
        td{
            padding: 3px;
        }
    }

    .item-TL{
       
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 3px 0;
        align-items: center;
    }

    .nav-fix{
        max-height: 20px;
    }

    .sheet-body {
        .editor{
            min-height: 80px;;
            flex-basis: 40%;
            padding: 5px;
        }
        .form-group select{
            width: 95px;
            font-size: 14px;
            padding: 1px 3px;
            margin: 0;
            align-items: flex-end;
        }
        .form-group {
            overflow: hidden;
        }
    }
}

