.weapon-card{
    flex-direction: row;

.weapon-inline{
    flex-direction: row;
    .inline-edit.select{
        max-width: 30px;
    }
}

.weapon-stats{
    flex-direction: row;
    .skillToRoll{
        
        .mod-number{
            max-width: 50px;
        }

    }
}

}