.sjgurps4e.sheet.item .sheet-header {
  align-items: flex-start;
  flex: 0;
}
.sjgurps4e.sheet.item .sheet-header .charname input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: Cinzel, serif;
  font-size: 28px;
  width: 300px;
}
.sjgurps4e.sheet.item .sheet-header img {
  flex: 0 0 100px;
  height: 100px;
  margin-right: 6px;
}
.sjgurps4e.sheet.item .sheet-header .item-subtitle .item-type {
  font-size: 24px;
  line-height: 26px;
  margin: 0;
  padding: 0;
  font-weight: normal;
  text-align: right;
  color: #888;
}
.sjgurps4e.sheet.item .sheet-header .summary {
  flex: 0 1 100%;
  height: 40px;
  margin: 0%;
  padding: 0;
  list-style: none;
  border-top: 2px groove #eeede0;
  border-bottom: none;
  font-size: 20px;
  color: #666;
  justify-content: flex-end;
}
.sjgurps4e.sheet.item .sheet-header .summary li {
  padding: 1px 3px;
}
.sjgurps4e.sheet.item .weapon-data-table {
  flex: 1;
  margin: 5px;
}
.sjgurps4e.sheet.item .weapon-data-table td {
  padding: 3px;
}
.sjgurps4e.sheet.item .item-TL {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 3px 0;
  align-items: center;
}
.sjgurps4e.sheet.item .nav-fix {
  max-height: 20px;
}
.sjgurps4e.sheet.item .sheet-body .item-properties {
  max-width: 30%;
}
.sjgurps4e.sheet.item .sheet-body .editor {
  min-height: 200px;
  height: 100%;
  flex-basis: 40%;
  padding: 5px;
}
.sjgurps4e.sheet.item .sheet-body .form-group select {
  width: 95px;
  font-size: 14px;
  padding: 1px 3px;
  margin: 0;
  align-items: flex-end;
}
.sjgurps4e.sheet.item .sheet-body .form-group {
  overflow: hidden;
}
@font-face {
  font-family: SpaceMono;
  src: url(fonts/SpaceMono-Bold.ttf);
}
@font-face {
  font-family: Cinzel;
  src: url(fonts/Cinzel-VariableFont_wght.ttf);
}
.sep {
  font-size: 18px;
  color: slategrey;
}
.sjgurps4e.sheet.character .rollable:hover {
  text-shadow: 0 0 10px red;
  cursor: url(icons/3d6-black.svg), pointer;
}
.sjgurps4e.sheet.character form {
  display: flex;
  flex-direction: column;
}
.sjgurps4e.sheet.character .sheet-header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
}
.sjgurps4e.sheet.character .sheet-header .pointsbox {
  text-align: right;
}
.sjgurps4e.sheet.character .sheet-header .pointsbox .unspentLine {
  justify-content: flex-end;
  flex-direction: row;
  flex: 1 0 auto;
  flex-wrap: nowrap;
}
.sjgurps4e.sheet.character .sheet-header .pointvalue {
  font-size: 14px;
  text-align: right;
}
.sjgurps4e.sheet.character .sheet-header .pointvalue input[type=text],
.sjgurps4e.sheet.character .sheet-header .pointvalue select {
  background-color: rgba(255, 255, 255, 0);
  width: 15px;
  display: inline-block;
  border: none;
  vertical-align: baseline;
  align-content: center;
  padding: 1px;
}
.sjgurps4e.sheet.character .sheet-header img.logo {
  height: 100%;
  border: none;
  flex: 0 0 0;
}
.sjgurps4e.sheet.character .sheet-header .charname input {
  background-color: rgba(255, 255, 255, 0);
  border: none;
  font-family: Cinzel, serif;
  font-size: 30px;
  width: 300px;
}
.sjgurps4e.sheet.character .sheet-navigation {
  border-bottom: groove;
}
.sjgurps4e.sheet.character .sheet-navigation .item {
  font-size: 18px;
}
.sjgurps4e.sheet.character .sheet-top {
  display: flex;
  flex-direction: row;
}
.sjgurps4e.sheet.character .sheet-top .portrait {
  margin-top: 7px;
  padding: 10px;
}
.sjgurps4e.sheet.character .sheet-top .portrait img {
  border: none;
}
.sjgurps4e.sheet.character .sheet-top .statblock {
  padding: 0px 3px;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  vertical-align: baseline;
  width: 100%;
  flex-wrap: nowrap;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline input[type=text],
.sjgurps4e.sheet.character .sheet-top .statblock .statline select {
  background-color: rgba(255, 255, 255, 0);
  width: 40px;
  margin: 3px;
  display: inline-block;
  border: none;
  vertical-align: baseline;
  align-content: center;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .statname {
  font-family: SpaceMono, sans-serif;
  font-size: 25px;
  font-weight: bold;
  vertical-align: baseline;
  padding: 0px 10px;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .statvalue {
  font-size: 20px;
  vertical-align: baseline;
  padding-right: 10px;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .statvalue input[type=text],
.sjgurps4e.sheet.character .sheet-top .statblock .statline .statvalue select {
  background-color: rgba(255, 255, 255, 0);
  width: 40px;
  margin: 3px;
  display: inline-block;
  border: none;
  vertical-align: baseline;
  align-content: center;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .statvalue:hover {
  box-shadow: 0 0 5px red;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .pointvalue {
  text-align: right;
  padding: 3px;
}
.sjgurps4e.sheet.character .sheet-top .statblock .statline .pointslabel {
  font-size: 10px;
  font-weight: lighter;
  vertical-align: baseline;
}
.inventory h2 {
  display: flex;
  flex-direction: row;
}
.inventory h2 .item-create {
  margin-left: auto;
}
.coreItems {
  display: flex;
  flex-direction: row;
}
.coreItems .coreRollItems {
  display: flex;
  flex-direction: column;
  min-width: 66%;
}
.coreItems .coreInfoItems {
  max-width: 33%;
  display: flex;
  flex-direction: column;
}
.background {
  display: flex;
  flex-direction: row;
}
.background .appAndbio {
  display: flex;
  flex-direction: column;
  min-width: 60%;
}
.background .traits {
  display: flex;
  flex-direction: column;
  min-width: 40%;
}
