<div class="active-def-block">
    <table><tr>
    <td class="dodge-block defBlock">
    <div >
        <div class="def-header rollable"> {{localize "sjgurps4e.sheet.dodge"}}:</div> 
        <div class="information noneditable">{{data.dodge}}</div>
    </div>
    </td><td class="parry-block defBlock">
    <div>
        <div class="def-header rollable">
            {{localize "sjgurps4e.sheet.parry"}}: (weap) 
        </div>
    </div>
    </td><td class="block-block defBlock">
    <div>
        <div class="def-header rollable">
            {{localize "sjgurps4e.sheet.block"}}:
        </div> 
    </div>
    </td></tr></table>
</div>