<div>

    <p>this is our inventory</p>
<div class="weapons">
    <section class="weapon-list">
        
        {{#each actor.items.item.itemType as |type id|}}
        {{> "systems/sjgurps4e/templates/actors/parts/weapon-card.hbs" type}}
        {{/each}}
    </section>

</div>
    
</div>