<div class="background">
    <div class="appAndbio">
        appearance
        tl
        cultures
        languages
        bio
        notes

        
    </div>
    <div class="traits">
        <div class = "adv-perks">
           <p> Advantages - cards</p>
            <p>perks - cards</p>
        </div>
        <div class = "dis-quirks">
            <p>Disadvantages - cards</p>
            <p>quirks - cards</p>
        </div>
        <div class = "templates">
        <p>character templates</p>
        </div>
    </div>



</div>