<div>

    <p>this is our inventory</p>
<div class="weapons">
    <section class="weapon-list">
        {{#each weapons as |weapon id|}}
        {{> "systems/sjgurps4e/templates/actors/parts/weapon-card.hbs" weapon}}
        {{/each}}
    </section>

</div>
    
</div>