<div class="weapon-card">
    <h4> item called weapon card</h4>
    <div class="weapon-info weapon-name">
        <p>{{name}}</p>
    </div>
    <div class="weapon-info" "weapon-stats">
        <p>{{data.weaponSkill}}</p>
    </div>
</div>